.bundle
.rvmrc
*.diff
*.orig
*.log
*.db
*.dat
*.log
*.DS_Store
*.dump
config/database.yml
db/*.sqlite3
log/*.log
tmp/**/*
.rvmrc
public/assets/*
public/packs/*
routes.txt
.byebug_history
.byebug_history/public/packs
/node_modules
/yarn-error.log
